@model ICollection<TheatreBlogSystem.Models.Comment>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-preview" align="center"> Comments </h2>
            </div>
        </div>
    </div>
</div>

@foreach (var comment in Model)
{
    if (comment.CommentIsApproved || User.IsInRole("Admin"))
    {
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-preview">
                            <p >
                                @comment.Body
                            </p>
                            <p class="post-meta">
                                Posted by
                                <a href="#">@comment.User.Forename @comment.User.Surname</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    if (!comment.CommentIsApproved)
                                    {
                                        <b>@Html.ActionLink("Approve", "ApproveComment", new { commentId = comment.CommentId, approved = true }) |</b>
                                    }
                                    else
                                    {
                                        <b>@Html.ActionLink("Disapprove", "ApproveComment", new { commentId = comment.CommentId, approved = false }) |</b>
                                    }

                                    if (comment.User.CurrentRole.Equals("Customer"))
                                    {
                                        <b>@Html.ActionLink("Suspend", "UpdateRole", "Users", new { id = comment.UserId, newRole = "Suspended", postId = comment.PostId }, null)</b>
                                    }
                                    else if (comment.User.CurrentRole.Equals("Suspended"))
                                    {
                                        <b>@Html.ActionLink("Unsuspend", "UpdateRole", "Users", new { id = comment.UserId, newRole = "Customer", postId = comment.PostId }, null)</b>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    }
}

        <!-- Bootstrap core JavaScript -->
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/Content/js/clean-blog.min.js"></script>


        <!-- Bootstrap core CSS -->
        <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="/Content/css/clean-blog.min.css" rel="stylesheet">
