@using System.Diagnostics.Eventing.Reader
@using TheatreBlogSystem.Models
@model IEnumerable<TheatreBlogSystem.Models.User>

@{
    ViewBag.Title = "Index";
}

<!--Header-->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Users</h1>
                </div>
            </div>
        </div>
    </div>
</header>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            DoB
        </th>
        <th>
            Registrated
        </th>
        <th>
            Role
        </th>
    </tr>

    @foreach (User item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfRegistration)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentRole)
            </th>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @if (!item.CurrentRole.Equals("Suspended") && !item.CurrentRole.Equals("Admin"))
                {
                    @Html.ActionLink("Suspend", "UpdateRole", new { id = item.Id, newRole = "Suspended" })
                }
                else if(!item.CurrentRole.Equals("Admin"))
                {
                    @Html.ActionLink("Unsuspend", "UpdateRole", new { id = item.Id, newRole = "Customer" })
                }
                |
                @if (User.IsInRole("Admin") && !item.CurrentRole.Equals("Admin") && !item.CurrentRole.Equals("Moderator"))
                {
                    @Html.ActionLink("Promote", "UpdateRole", new { id = item.Id, newRole = "Moderator" })
                }
            </td>
        </tr>
    }

</table>

<!-- Bootstrap core JavaScript -->
<script src="/Scripts/jquery-3.3.1.min.js"></script>
<script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/Content/js/clean-blog.min.js"></script>


<!-- Bootstrap core CSS -->
<link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="/Content/css/clean-blog.min.css" rel="stylesheet">
